* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 2rem;
  background-color: blueviolet;

}
h1{
  text-align: center;
  color: antiquewhite;
}
ul{
  color: antiquewhite;
  list-style-type: none;
  background-color:antiquewhite;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem 0.5rem;
  flex-wrap:wrap;
  justify-content: center;
}
ul li {
  background-color: cadetblue;
  width: 6rem;
  text-align: center;
}


.container{
  color: antiquewhite;
  background-color:rgb(184, 121, 99);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
}
.container *{
  background-color:cadetblue
}
.container header{
  flex-basis: 100%;
  flex-grow: 1;
}
.container .left{
  /* flex-basis: 25%; */
  flex-grow: 1;
}
.container main{
  /* flex-basis: 50%; */
  flex-grow: 2;
}
.container .right{
  /* flex-basis: 25%; */
  flex-grow: 1;
}
.container footer{
  flex-grow: 1;
  flex-basis: 100%;
}
